<div data-hook="admin_zip_code_form_fields" class="row">
  <div class="alpha six columns">
    <%= f.field_container :value do %>
      <%= f.label :value, t("value") %>
      <%= f.text_field :value, class: 'fullwidth' %>
    <% end %>
  </div>
</div>